* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  margin: 0;
  background-color: black;
}

.heading,
.paragraph_text {
  display: flex;
  flex: content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1, h2, li {
  color: white;
}

p {
  color: aliceblue;
  font-family: "Radley", serif;
  font-size: 1.1em;
}


.heading {
  height: 10em;
  background-color: darkcyan;
}


.header_imgs {
  display: flex;
  margin: 5em 7em;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.header_imgs img {
  width: min(40vw, 350px);
  height: min(40vw, 350px);
  object-fit: cover;
}


.paragraph_text {
  margin-top: -2em;
  margin: 0 9em;
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
    margin-bottom: -0.4em;
    border-bottom: 3em;
    border-color: aliceblue;
  }
  li {
    font-size: 1.3em;
    font-family: "Radley", serif;
  }
  img {
    max-width: 75%;
  }
}
.item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 1em;
    img {
      width: 150px;
    height: auto;
    }
}
#themeToggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 16px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  background-color: white;
  color: black;
}

#themeToggle:hover {
  transform: scale(1.1);
}
body.day-mode {
  background-color: white;
}
body.day-mode h1,
body.day-mode h2,
body.day-mode li {
  color: black;
}
body.day-mode p {
  color: #333;
}
body.day-mode .heading {
  background-color:rgb(191, 207, 217);
}