* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
}

.heading,
.paragraph_text {
  display: flex;
  flex: content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1, h2, li {
  color: white;
}

p {
  color: aliceblue;
  font-family: "Radley", serif;
  font-size: 1.1em;
}


.heading {
  height: 10em;
  background-color: darkcyan;
}


.header_imgs {
  display: flex;
  margin: 5em 7em;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.header_imgs img {
  width: min(40vw, 350px);
  height: min(40vw, 350px);
  object-fit: cover;
}


.paragraph_text {
  margin-top: -2em;
  margin: 0 9em;
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
    margin-bottom: -0.4em;
    border-bottom: 3em;
    border-color: aliceblue;
  }
  li {
    font-size: 1.3em;
    font-family: "Radley", serif;
  }
  img {
  display: block;
  margin: 0 auto;
  max-width: 75%;
  }
}

.button_text {
  overflow: hidden;
  transition: max-height 1s ease, opacity 1.4s ease;
  opacity: 0;
}
.button_text.show {
  display: block;
  max-height: 1000px;
  opacity: 1;
}

.item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-left: 5em;
    margin-top: 1em;
    margin-right: 4em;
    img {
    width: 150px;
    height: auto;
    }
}

a {
  gap:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
a:link {
  color: white;
  background-color: transparent;
}
a:visited {
  color: white;
  background-color: transparent;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

#problem_list {
  margin-top: 3em;
  padding: 12px 16px;
  border: none;
  border-radius: 90px;
  font-size: 18px;
  background-color: white;
  color: black;
}

#themeToggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 16px;
  border: none;
  border-radius: 70px;
  font-size: 18px;
  background-color: white;
  color: black;
}

#themeToggle:hover {
  transform: scale(1.1);
}
body.day-mode{
  background-color: white;
}
body.day-mode #problem_list {
  background-color: black;
  color:white;
}
body.day-mode h1,
body.day-mode h2,
body.day-mode li
body.day-mode a:link, body.day-mode a:visited {
  color: black;
}
body.day-mode p {
  color: #333;
}
body.day-mode .heading {
  background-color:rgb(191, 207, 217);
}
.day-mode #themeToggle {
  background-color: black;
  color:white;
}

.container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1rem;
  --position: 50%;
}

.image-container {
  display: block;
  width: 500px;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-before {
  position: absolute;
  width: var(--position);
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.slider-line {
  position: absolute;
  inset: 0;
  width: .2rem;
  height: 100%;
  background-color: #fff;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider-button {
  position: absolute;
  background-color: #fff;
  color: black;
  padding: .5rem;
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  /* z-index: 100; */
}